<link rel="stylesheet" href="../static/auth.css">

{% extends 'index.html' %}
{% block title %}
<title>Login</title>
{% endblock title %}

{% block body %}
<div class="container-br">
  <div class="wrapper">
    <form action="" method="post">
      {{ form.hidden_tag() }}

      <h1>Login</h1>
      <div class="input-box">
        {{ form.username(placeholder="username", required=True) }}
      </div>

      <div class="input-box">
        {{ form.password(placeholder="password", required=True) }}
      </div>
      <button type="submit" class="login">Login</button>
      
      <div class="register-link">
        <p>Need an account?<a href="{{ url_for('register') }}">Register</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock body %}